<a href="https://colab.research.google.com/github/Pati-pa/Cadenad_texto/blob/main/series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series usando For

In [16]:
#Serie 1: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

print("-------------------")
print("-----Serie 1 ------")
print("-------------------")

s = "serie: {"
for i in range(1,11):
  s= s + str(i)
  if i != 10:
    s = s + ","
s= s+ "}"
print(s)

-------------------
-----Serie 1 ------
-------------------
serie: {1,2,3,4,5,6,7,8,9,10}

In [17]:
#serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81 ...
print("-------------------")
print("-----Serie 1 ------")
print("-------------------")

s = "serie: {"
for i in range(1,11):
  s= s + str(i**2)
  if i != 10:
    s = s + ","
s= s+ "}"
print(s)

-------------------
-----Serie 1 ------
-------------------
serie: {1,4,9,16,25,36,49,64,81,100}